<div class="contactUsContent">
  <h3>Contact Information</h3>

  <p>Phone Number: 0096265805700</p>
  <p>Fax: 0096265861059</p>
  <p>
    Address: Ministry of Digital Economy and Entrepreneurship 8th Circle Bayader
    Wadi Al Seer
  </p>
  <p>P.O.Box 9903 Amman 11191 Jordan</p>
  <p>Email: <a href="modee@modee.gov.jo"> modee@modee.gov.jo </a></p><br>
  <h3>To contact tenders team:
  <a href="TendersSection@modee.gov.jo"> TendersSection@modee.gov.jo </a></h3><br>
  <h3>You can contact the spokesperson Shorouq Hilal Email:
  <a href="Shorouq.hilal@modee.gov.jo"> Shorouq.hilal@modee.gov.jo </a></h3>
</div>
