<p style="color: blueviolet;">The Ministry of Digital Economy and Entrepreneurship has evolved its role from the previous role for the Ministry of ICT towards creating the policies to enable the transformation towards a digital economy and support the enabling pillars for this transformation including Digital Entrepreneurship, Digital Skills, Digital Financial Services, Digital Infrastructure and Digital Platforms, and will put plans in cooperation with other government institutions to overcome the challenges faced by entrepreneurs including, access to markets, access to funding, regulatory challenges and access to talents.

  The Ministry, through a dynamic open partnership process, works to create, promote, and drive new digital opportunities in Jordan, which will facilitate the positioning of the Kingdom as a regional and international player in technology adoption, development and services.

  The sectors within Information Technology (IT) and Telecommunications are identified as particular drivers and enablers of economic and social growth.
  MoDEE has overall responsibility for the achievement of National goals and objectives within the Digital landscape, and should use the various means and relationships to achieve them. In addition to developing, incubating, and supporting Digital initiatives at a national level (such as the digitization of the governmental services , the National Broadband Program and others) the Ministry’s mandate includes stimulating local and foreign technology investments as well as promoting awareness and adoption of technology by all segments of the population, in an all-inclusive approach.

  Ministry Strategic Plan
  Click here( Size 954.86KB ، Type PDF ) to Download the Strategic Plan2018-2020

  Vision
  A secure and inclusive digital economy that achieves sustainable economic and social development

  Mission
  Promote digital economy and entrepreneurship on a national level through a comprehensive process that supports the development of digital skills, digital services, digital assets, digital and social entrepreneurship, and the enabling environment, in partnership with public and private sectors and civil society organizations.

  Core Values:
  Professionalism: We apply best practices in our work and rely on scientific principles when making decisions to ensure objectivity. We also base our employees’ career development on competence, effort and experience.
  Fairness: We apply concepts of fairness in the ministry's procedures, processes and policies in ways that ensure equal opportunities.
  Integrity: We adhere to honesty and transparency standards and use our authority responsibly while avoiding any potential conflict of interest.
  Teamwork: We work together as one team to achieve the ministry's vision, mission and strategic objectives.
  Initiative and Innovation: We are always looking for new and innovative ways to solve problems and improve.


  Main Pillars & Strategic Objectives:
  Digital & Entrepreneurial skills
  Jordanians have the skills needed to participate in the digital economy and business entrepreneurship
  Digital Services

  Integrated and reliable digital government services and systems that enhance  government’s efficiency
  Digital Assets

  Advanced digital infrastructure that individuals and businesses can access and use easily
  Efficient and effective use of data by the government
  The enabling Environment

  Laws and regulations are fit for promoting digital economy and entrepreneurship
   Confidence in the digital infrastructure and its ability to counter cybersecurity risks
  Digital & Social Entrepreneurship

  Open markets that are conducive to entrepreneurship, investment and innovation</p>
