<footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt"></i>
            <div class="cta-text">
              <h4>Contact Us</h4>
              <span style="color: aliceblue;">Jordan Ministry of Digital Economy and Entrepreneurship - Eighth Circle - Wadi Alseair</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-phone"></i>
            <div class="cta-text">
              <h4>Mobile Phone</h4>
              <span style="color: aliceblue;">0096265805700</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="far fa-envelope-open"></i>
            <div class="cta-text">
              <h4>E-mail</h4>
              <span style="color: aliceblue;">modee@modee.gov.jo</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html"
                ><img style="width: 4rem; height: 4rem;"
                  src="../../../../../../assets/Jordan Ministry Logo.jpg"
                  class="img-fluid"
                  alt="logo"
              /></a>
            </div>
            <div class="footer-text">

            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Useful Links Useful Links</h3>
            </div>
            <ul>
              <li><a routerLink="/about-us">About Us</a></li> 
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Our Services</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Subscribe</h3>
            </div>
            <div class="footer-text mb-25">
            </div>
            <div class="subscribe-form">
              <form action="#">
                <input type="text" placeholder="Email Address" />
                <button><i class="fab fa-telegram-plane"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
          <div class="copyright-text">
            <p> All rights reserved © Jordan Ministry of Digital Economy and Entrepreneurship of 2023 </p>
          </div>
        </div>
      </div>
    </div>
</footer>
