<!-- Image Slider -->
<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[0]" alt="Random first slide" />
		</div>
		<!-- <div class="carousel-caption">
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div> -->
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[1]" alt="Random second slide" />
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[2]" alt="Random third slide" />
		</div>
	</ng-template>

  <ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[3]" alt="Random third slide" />
		</div>
	</ng-template>

  <ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[4]" alt="Random third slide" />
		</div>
	</ng-template>

  <ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[5]" alt="Random third slide" />
		</div>
	</ng-template>

   <ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[6]" alt="Random third slide" />
		</div>
	</ng-template>


</ngb-carousel>


<!-- <div class="bg-container">
  <img
    src="/assets/Ministry of digital economy building.jpg"
    alt="Snow"
    style="width:100%; height:850px;"
  /> -->

  <!-- <div class="centered">
    <h1 style="font-size: 5rem;">Go ahead
        </h1>
    <br />
    <br />
  </div> -->
<!-- </div> -->

<router-outlet></router-outlet>
