<div class="welcomingNoteContent">
  <p>
    It’s pleasure to launch our new website to increase the transparency and to
    communicate with all citizens and stakeholders, and to unify the
    governmental website ( look and feel).
  </p>

  <h3>
    It’s a channel to publish all news related to and to publish all new
    projects and program.
  </h3>

  <p>
    The Ministry of Digital Economy & Entrepreneurship (MoDEE) Jordan, was
    historically known as the Ministry of Information and Communication
    Technology (MoICT). The name was changed in mid-2019 to reflect the role of
    the ministry as it includes more functions. It signifies how Jordan
    envisions the future of its ICT industry as it incorporates the wider
    digital economy and becomes more invested in entrepreneurship.
  </p>

  <p>
    The Ministry has been, and will continue to, empower the citizens and
    residents of Jordan in their digital journey across sectors and industries.
  </p><br><br>

  <h3>
    MoDEE has been working on the digital transformation of service delivery to
    citizens and businesses by focusing on activities designed to improve access
    to and quality of selected digital government services and related digital
    transactions.
  </h3>
  <p>
    MoDEE is catalyzing the digital transformation in Jordan. The enabling
    pillars for this transformation include Digital Entrepreneurship, Digital
    Skills, Digital Services, Digital Infrastructure, Digital Enablers and
    Strategic Projects, with the support of digital transformation policies,
    such as Open APIs, Data Classification and other enabling policies.
  </p>

  <p>
    Technology is an enabler to all sectors and allows scalability for both
    businesses and social enterprises.Therefore, MoDEE is keen on nurturing
    Jordan’s entrepreneurial spirit through supporting startups, SMEs and larger
    enterprises which are a crucial part of this journey as they are the
    facilitators that help to manifest our economic growth.
  </p>

  <p>
    MoDEE supports entrepreneurship by also working with the ecosystem to
    regulate social enterprises to ensure alignment and provide support, where
    needed, in order to fulfill our commitment to the SDGs. MoDEE is working
    with other government institutions and the private sector to overcome the
    challenges faced by entrepreneurs including, access to markets, access to
    funding, regulatory challenges and access to talents.
  </p>
</div>
