<div class="m-0 container-fluid" style="padding-bottom: 2rem;
 font-family: 'Times New Roman', Times, serif; background-color:rgb(245, 250, 253);">
  <div class="row" style="gap:1em; justify-content: center;">
    <div class="card col-md-4" style="width: 22rem; align-items:stretch;" *ngFor="let card of data">
      <div class="card-header" > 
        <img
          class="card-img-top"
          style="max-width: 410px; height: 105px; "
          src="{{ card.logo }}"
          alt="Card image cap"
        />
      </div>

      <div class="card-body">
        <h3 class="card-title" style="text-align: center; font-weight: 600; font-family: 'Times New Roman', Times, serif;">{{ card.name }}</h3>
        <p class="card-text" style=" text-align:justify;">
          {{ card?.description.slice(0, 340) }}
        </p>
      </div>
      <div class="card-footer row">
        <button class="btn btn-warning" style="font-weight: 600;" (click)="onRowClicked(card)">
          Preview
        </button>
        <share-buttons style="justify-content: center;"
          theme="circles-dark"
          [include]="[
            'copy',
            'email',
            'whatsapp',
            'facebook',
            'messenger',
            'linkedin',
            'pinterest',
            'telegram',
            'twitter',
            'viber',
          ]"
          [showIcon]="true"
          [showText]="false"
          url="http://localhost:4200/startup/preview-startup?key={{ card.key }}"
          description="Fresh Spot ... POWERFUL, NOT OVERPOWERING"
          twitterAccount="elonmusk"
          class="pt-5"
          [show]="4"
        >
        </share-buttons>
      </div>
    </div>
  </div>
</div>
